.imagespark-ai{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.header-container {
    display: flex;
    align-items: center;   
    gap: 20px;            
    margin-bottom: 30px;
}

.logo {
    width: 80px;               /* adjust size */
    height: 80px;
    object-fit: contain;       /* keep aspect ratio */
    background-color: white;   /* white box */
    padding: 10px;             /* space between logo and box */
    border-radius: 15px;       /* rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* optional shadow */ 
}

.header{
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 30px;
    color: white;
}

.header span{
    color: #DD00FF;
}

.img-loading {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
}


.img-loading img{
    width: 512px;
    padding-bottom: 40px;
}

.serch-box{
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #3E0047;
}

.serach-input{
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    border-radius: 12px;
    padding-left: 35px;
    margin-right: 35px;

}
.serach-input::placeholder {
    color: white;
    opacity: 1;  
    font-size: 15px;
}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 85px;
    font-size: 20;
    font-weight: bold;
    border-radius: 50px;
    background: #DD00FF;
    cursor: pointer;
    color: white;
    font-size: 20px;

}

.loading-bar{
  width: 0px;
  height: 8px;
  background: #DD00FF;
}

.loading-text{
    font-size: 18px;
    color: white;
}

.loading-bar-full{
  width: 512px;
  height: 8px;
  background: #DD00FF;
  transition: 15s;
}

.display-none{
    display: none;
}